*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

/* #region Header*/

header{
    background-color: #ff6900;
    position: sticky;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links{
    li{
        display: inline-block;
        a{
            font-size: 20px;
            text-decoration: none;
            color: gainsboro; 
        }
        
    }
}

.boolean-logo{
    width: 15%;
    margin-left: 400px;
}

.icone{
    color: gainsboro;
}

/* #endregion Header*/

/* #region Main*/

#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    }

.card{
    position: relative;
}

img{
    width: 400px;
}

.cuore{

    position: absolute;
    top: 8px;
    left: 350px;
    font-size: 40px;
    background-color: white;
    width: 50px;
    height: 50px;

    i{
        display: flex;
        justify-content: center;
    }
}

/* #endregion Main*/