*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* #region Header*/

header{
    background-color: #ff6900;
    position: sticky;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links{
    li{
        display: inline-block;
        a{
            font-size: 20px;
            text-decoration: none;
            color: gainsboro; 
        }
        
    }
}

.logo{
    display: flex;
    justify-content: center;

    .boolean-logo{
    width: 15%;
    }

}



.icone{
    color: gainsboro;
}

/* #endregion Header*/

/* #region Main*/

main{
    margin-top: 50px;
    margin-bottom: 50px;
}

#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    }

.card{
    position: relative;
}

img{
    width: 400px;
}

.top{

    position: relative;

    .back{
        display: none;
    }

    &:hover .front{
        display: none;
    }

    &:hover .back{
        display: block;
    }
}

.cuore{

    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background-color: white;
    padding: 0.5rem;
}

.badge{
    position: absolute;
    bottom: 55px;
    left: 0;
    color: white;

    .badge{
        padding: 0.25rem 1rem;

    }

    .discount{
        background-color: #ff0000;
    }

    .category{
        background-color: green;
    }
}

.brand{
    opacity: 0.7;
}

h5{
    font-size: 18px;
}

.price{
    color: #ff0000;
    font-weight: bold;
}

.old-price{
    color: black;
    text-decoration: line-through;
    opacity: 0.7;
    font-weight: normal;
}

/* #endregion Main*/